@use './_colorscape' as *;

@mixin theme-light {
  background-color: $dark-bg-color;
  color: #000;
}

@mixin theme-dark {
  background-color: $dark-bg-color;
  color: $light;
}

@mixin theme($mode: light) {
  @if $mode == light {
    @include theme-light;
  } @else if $mode == dark {
    @include theme-dark;
  }
}
