.sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #1f212c;
}

// sidebar body
.sidebar_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.items_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item,
.children_item_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 15px;
  gap: 10px;
  user-select: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 6px 10px 16px;

  &:hover {
    cursor: pointer;
    background-color: #1f212c;
  }

  &_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &_item_icon {
    width: 20px;
    height: 20px;
  }

  &_active {
    color: var(--primary-color);
    background-color: #1f212c;
  }

  &_icon {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
  }

  &_active_icon {
    transform: rotate(-90deg);
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #181921;
    border-radius: 6px;
  }

  &_children_body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_children_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 14px;
    user-select: none;
    text-decoration: none;
    padding: 10px 6px 10px 16px;
    min-height: 44px;
    max-height: 44px;
    height: 44px;

    &:hover {
      cursor: pointer;
      background-color: #1f212c;
    }
  }

  &_active_children_item {
    color: var(--primary-color);
    background-color: #1f212c;
  }

  &_last_child_item {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

// sidebar footer
.sidebar_footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px 0 16px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 100%;

  &_version {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
