@use '../../../../assets/styles/base/colorscape' as *;

.sidebar {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  background-color: $sidebar-bg;
}

// sidebar header
.sidebar_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border-radius: 10px;

  &_logo {
    font-size: 18px;
    font-family: var(--fira-font);
  }
}

// sidebar body
.sidebar_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.items_wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item,
.children_item_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  gap: 10px;
  user-select: none;
  border-radius: 10px;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px 12px 8px 14px;

  &:hover {
    cursor: pointer;
    background-color: $item-hover-bg;
  }

  &_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &_icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    color: $item-icon-color;
    transition: all linear 200ms;
    background-color: $item-icon-bg;
  }

  &_icon_wrapper_active {
    color: #fff;
    background-color: $item-icon-color;
  }

  &_icon {
    width: 18px;
    height: 18px;
  }

  &_title_icon {
    width: 20px;
    height: 20px;
  }

  &_active {
    color: var(--primary-color);
    background-color: $item-hover-bg;
  }

  &_arrow_icon {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
  }

  &_active_icon {
    transform: rotate(-90deg);
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background-color: $item-children-wrapper-bg;
  }

  &_children_body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
  }

  &_children_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    padding: 10px 6px 8px 16px;
    min-height: 44px;
    max-height: 44px;
    height: 44px;

    &:hover {
      cursor: pointer;
      background-color: $item-hover-bg;
    }
  }

  &_active_children_item {
    color: var(--primary-color);
    background-color: $item-hover-bg;
  }

  &_last_child_item {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// sidebar footer
.sidebar_footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 7px 14px 7px;

  .sidebar_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 6px;
    padding: 2px 16px 0 16px;
    background-color: transparent;

    &_version {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      width: max-content;
      white-space: nowrap;
    }

    &_title {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      width: max-content;
      white-space: nowrap;
    }
  }
}

:global(.mantine-NavLink-root) {
  &:hover {
    background-color: transparent !important;
  }
}
