@import url("./tansition.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* padding */
  --padding: 2%;
  --btn-padding: 30px;

  /* height */
  --height: 86dvh;

  /* light color */
  --light: #ffff;
  /* --light: #c7c2c2; */
  /* button bg colors */
  /* --primary-color-bg-color: #3700ff; */
  --primary-color-bg-color: #0085ff;

  /* item color */
  --item-color: #a9a9a9;

  /* danger color */
  --danger: #b4182d;
  --hover-danger: #771724;

  /* border color */
  --border-color: #1d1e27;

  /* gray color */
  --gray-color: #27292b;
  --subtitle-color: #a4a4a4;
  --outer-border-color: #27272a;

  --content-height: calc(100dvh - 156px);

  /* bg colors */
  --black-color: #000000;
  --body-bg-color: #09090b;
  --ghost-bg-color: #18181b;
  --dark-bg-color: #111116e8;

  /* fonts */
  --jost: "Jost", serif;
  --mont: "Montserrat", serif;

  /* custom shadows */
  --light-shadow: 0px 2px 20px rgba(255, 255, 255, 0.9);
  --navbar-shadow: rgb(30, 30, 34) 0px 3px 5px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --login-shadow: rgba(85, 85, 85, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(100, 100, 100, 0.253) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.inst {
  background-image: linear-gradient(
    to left top,
    rgb(131, 58, 180),
    rgb(253, 29, 29),
    rgb(252, 176, 69)
  );
}

.register {
  height: calc(100dvh - 78px);
}

.home-pgs {
  height: calc(100dvh - 280px);
}

.section-load {
  height: calc(100dvh - 168px);
}

.yellow-btn {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
}

.yellow-btn {
  margin: 10px;
  background-size: 200% auto;
  border-radius: 10px !important;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms !important;
}

.yellow-btn:hover {
  background-position: right center;
  text-decoration: none;
}
