@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* padding */
  --padding: 2%;
  /* height */
  --height: 92dvh;

  /* light color */
  --light: #ffff;
  /* --light: #c7c2c2; */
  /* button bg colors */
  --primary-btn-bg-color: #3700ff;

  /* item color */
  --item-color: #a9a9a9;

  /* danger color */
  --danger: #b4182d;
  --hover-danger: #771724;

  /* gray color */
  --gray-color: #27292b;
  --subtitle-color: #a4a4a4;
  --outer-border-color: #27272a;

  /* bg colors */
  --black-color: #000000;
  --body-bg-color: #09090b;
  /* --body-bg-color: #16161a; */
  --ghost-bg-color: #18181b;
  --dark-bg-color: #0f0f13a9;

  /* fonts */
  --jost: "Jost", serif;
  --mont: "Montserrat", serif;

  /* custom shadows */
  --light-shadow: 0px 2px 20px rgba(255, 255, 255, 0.9);
  --navbar-shadow: rgba(110, 110, 110, 0.253) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --login-shadow: rgba(85, 85, 85, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(100, 100, 100, 0.253) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
