.container {
  display: flex;
  width: 100%;
  height: calc(100dvh);
  min-height: calc(100dvh);
  max-height: calc(100dvh);
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.aside {
  width: 260px;
  max-width: 260px;
  min-width: 260px;
  overflow-y: auto;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 440ms;

  &_space_wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

// Aside opened
.aside_open {
  width: 260px;
  min-width: 260px;
}

// Aside closed
.aside_closed {
  width: 0;
  min-width: 0;
}

.pages_wrapper {
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 90px);
  max-height: calc(100% - 90px);
  min-height: calc(100% - 90px);
  background-color: transparent !important;
}

// Action bar
.action_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  padding: 0 4.2px;
  background-color: #1e2e65;

  &_toggle_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: max-content;
  }
}
