.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.year_month_controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  gap: 6px;

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: all 230ms ease-in-out;

    &:hover {
      background-color: #222331;
    }
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
    border-radius: 8px;
    transition: all 230ms ease-in-out;

    &:hover {
      background-color: #222331;
    }
  }
}

.select_month,
.select_year {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: max-content;
  gap: 12px;

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    cursor: pointer;

    &_content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      padding: 6px 24px;
      height: 100%;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      user-select: none;
      border-radius: 8px;
      transition: all 230ms ease-in-out;

      &:hover {
        background-color: #222331;
      }
    }
  }
}

.days_section {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  width: 100%;
  height: max-content;

  & > :nth-child(13),
  & > :nth-child(14),
  & > :nth-child(20),
  & > :nth-child(21),
  & > :nth-child(27),
  & > :nth-child(28),
  & > :nth-child(34),
  & > :nth-child(35),
  & > :nth-child(41),
  & > :nth-child(42),
  & > :nth-child(48),
  & > :nth-child(49) {
    background-color: rgb(28, 28, 36) !important;
  }

  &_item,
  &_item_inactive,
  &_item_today,
  &_item_week_day {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    width: 100%;
    height: 100%;
    outline: none;
    max-width: 100%;
    min-width: 100px;
    min-height: 120px;
    max-height: 120px;
    border: 0.5px solid #2d2f44;
    transition: all 230ms ease-in-out;

    &_inactive {
      color: #7e7e83;
    }

    &_today {
      &_indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: #fff;
        border-radius: 4px;
        background-color: var(--primary-color) !important;
      }
    }

    &_week_day {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 40px;
      min-height: 40px;
      max-height: 40px;

      &:hover {
        cursor: auto;
        background-color: transparent !important;
      }
    }
  }
}

.event_section {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;

  &_title {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }

  &_content {
    font-size: 12px;
    color: #fff;
  }
}
