.calendar {
  width: 100%;
  height: 100%;
}

// :global {
//   .mantine-Calendar-calendarHeader {
//     width: 100% !important;
//     max-width: 100% !important;

//     @media (max-width: 768px) {
//       overflow-x: auto;
//     }
//   }

//   .mantine-Calendar-calendarHeaderControl {
//     &:hover {
//       background-color: transparent !important;
//     }
//   }

//   .mantine-Calendar-levelsGroup {
//     width: 100% !important;
//   }

//   .mantine-Calendar-calendarHeaderLevel {
//     &:hover {
//       background-color: transparent !important;
//     }
//   }

//   .mantine-Calendar-month {
//     // table-layout: fixed;
//     width: 100% !important;
//     height: calc(100dvh - 220px) !important;
//     // border: 1px solid red;

//     @media (max-width: 1600px) {
//       overflow-x: scroll;
//     }
//   }

//   .mantine-Calendar-monthTbody {
//     width: 100% !important;
//     height: 100% !important;
//     max-width: 100% !important;
//     // border: 1px solid red;

//     @media (max-width: 1600px) {
//       overflow-x: scroll;
//     }
//   }

//   .mantine-Calendar-monthRow {
//     width: 100% !important;
//     max-width: 100% !important;
//     // border: 1px solid teal;
//   }

//   .mantine-Calendar-day {
//     display: flex !important;
//     align-items: flex-start !important;
//     justify-content: flex-start !important;
//     width: 100% !important;
//     height: 100% !important;
//     color: #fff;
//     overflow: hidden;
//     padding: 12px 6px;
//     border: 0.5px solid #1e1f2b;
//     border: 0.5px solid #2d304d;
//     border-radius: 0;
//     outline: none;
//     transition: all 230ms ease-in-out;
//     &:hover {
//       border-radius: 6px;
//       border: 0.5px solid #2e3042;
//       background-color: #2e3042 !important;
//     }
//   }

//   .mantine-Textarea-input {
//     width: 100%;
//     height: 100%;
//     color: #fff;
//     border: transparent;
//     background-color: transparent !important;

//     &::placeholder {
//       font-size: 12px;
//     }
//   }

//   .mantine-Input-input {
//     width: 100%;
//     height: 100%;
//     color: #fff;
//     border: transparent;
//     background-color: transparent !important;
//   }

//   .mantine-Calendar-day[data-today] {
//     border: none;
//     border-radius: 6px;
//     color: var(--primary-color);
//     background-color: #242532 !important;

//     &:hover {
//       border-radius: 6px;
//       background-color: #242532 !important;
//     }
//   }

//   // select month style
//   .mantine-Calendar-monthsListRow {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     color: #fff !important;
//     border-top: 1px solid #1e1f2b;
//     border-left: 1px solid #1e1f2b;
//   }

//   .mantine-Calendar-monthsListCell {
//     display: flex;
//     align-items: center;
//     color: #fff;
//     border-bottom: 1px solid #1e1f2b;
//     border-right: 1px solid #1e1f2b;

//     &:hover {
//       background-color: #242532 !important;
//     }

//     & > .mantine-Calendar-monthsListControl {
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       padding-left: 14px;
//       width: 100%;
//       color: #fff !important;

//       &:hover {
//         background-color: transparent !important;
//       }
//     }
//   }

//   // select year style
//   .mantine-Calendar-yearsListRow {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     color: #fff !important;
//     border-top: 1px solid #1e1f2b;
//     border-left: 1px solid #1e1f2b;
//   }

//   .mantine-Calendar-yearsListCell {
//     display: flex;
//     align-items: center;
//     color: #fff;
//     border-bottom: 1px solid #1e1f2b;
//     border-right: 1px solid #1e1f2b;

//     &:hover {
//       background-color: #242532 !important;
//     }

//     & > .mantine-Calendar-yearsListControl {
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       padding-left: 14px;
//       width: 100%;
//       color: #fff !important;

//       &:hover {
//         background-color: transparent !important;
//       }
//     }
//   }
// }

.days_section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;

  &_item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 6px;
    width: 100%;
    height: 100%;
    border: 0.5px solid #1e1f2b;
    border-radius: 0;
    outline: none;
    transition: all 230ms ease-in-out;
    &:hover {
      border-radius: 6px;
      border: 0.5px solid #2e3042;
      background-color: #2e3042 !important;
    }
  }
}

.week_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
  }
}

.event_section {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;

  &_title {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }

  &_content {
    font-size: 12px;
    color: #fff;
  }
}
