@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mont: "Montserrat", sans-serif;
  --jet: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  color: white;
  font-family: var(--jet);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
