@import url('./base/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  scrollbar-width: thin;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: var(--light);
  background-color: #0063f8;
}

body {
  margin: 0;
  color: var(--light);
  font-family: var(--mont);
  background-color: var(--bodyBgColor);
}
