@import url('./base/variables.css');

* {
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  scrollbar-width: thin;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: var(--light);
  background-color: #0063f8;
}

body {
  margin: 0 !important;
  color: var(--light) !important;
  font-family: var(--inter-font) !important;
  background-color: var(--body-bg-color) !important;
}
