@use './base/_theme' as *;
@use './base/_mixins' as *;
@use './base/_layout' as *;
@use './base/_colorscape' as *;

// fonts import
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* mantine ui css import */
@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/core/styles/global.css';
@import '@mantine/core/styles/NavLink.css';
@import '@mantine/core/styles/Accordion.css';

* {
  margin: 0;
  padding: 0;
  outline: none;
  scrollbar-width: thin;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: var(--light);
  background-color: #0063f8;
}

body {
  color: $light !important;
  font-family: $inter-font !important;
  background-color: $body-bg-color !important;
}

body.dark {
  @include theme-dark;
}

body.light {
  @include theme-light;
}
